@-webkit-keyframes rot {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes rot {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@-webkit-keyframes neon {
  50% {
    text-shadow: #25deff 0px 0px 20px;
  }
}

@keyframes neon {
  50% {
    text-shadow: #25deff 0px 0px 20px;
  }
}

@media screen and (max-device-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: 'Alike', serif;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8vh;
    width: 100vw;
    background-color: #696755;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
  }
  header #titol {
    padding-right: 20px;
  }
  #body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 91.5vh;
    width: 100vw;
    background: linear-gradient(45deg, #D1340F, #e24429, #fca326);
    border: 1px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: #696755;
    border: 1px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
  }
  #contenidor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #idle {
    width: 15%;
    height: 15%;
  }
  #titol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vw;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  #nextNota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: black solid 2px;
    background: linear-gradient(45deg, white, white);
    width: 50%;
    height: 16%;
    margin-left: 85px;
  }
  #nextNota p:first-child {
    font-size: 1em;
    color: black;
  }
  #nextNota p:last-child {
    font-size: 1em;
    color: #868686;
    font-weight: bold;
  }
  .imatgeJugador {
    padding-left: 10px;
    padding-right: 5%;
    -webkit-animation: rot 2s ease-in-out infinite;
            animation: rot 2s ease-in-out infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nomjugador #playerName {
    padding-left: 5%;
    padding-right: 10%;
  }
  h1 {
    text-shadow: #25deff 0px 0px 60px;
    -webkit-animation: neon 2s ease-in-out infinite;
            animation: neon 2s ease-in-out infinite;
  }
  #autoplayValue {
    color: #ff2f2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50px;
    border: 1px solid black;
    background-color: gray;
    padding: 5%;
    margin-top: 5%;
    cursor: pointer;
    width: 50px;
    height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nomjugador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .autoplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #696755;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 2vw;
    -ms-flex-direction: row;
        flex-direction: row;
    border: 1px solid black;
    border-top: black solid 2px;
  }
  button {
    font-size: 3vw;
    display: inline;
  }
  #espai {
    background-color: red;
    height: 10%;
  }
  #cancons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .autoplay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 85%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #rectangle {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-left: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #99260a;
    opacity: 0.9;
  }
  #rectangle div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5vw;
    position: relative;
    width: 10%;
    height: 0;
    padding: 5% 0;
    margin: 1em auto;
    border-radius: 50%;
  }
  #flute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120%;
    height: 22%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #do {
    background-color: #0a9c00;
  }
  #re {
    background-color: #dbc900;
  }
  #mi {
    background-color: #2529FF;
  }
  #fa {
    background-color: #B50000;
  }
  #sol {
    background-color: #FF3C00;
  }
  #la {
    background-color: #004228;
  }
  #si {
    background-color: #FF3696;
  }
  #trapezoid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 100px solid black;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    height: 8,1vh;
    width: 0;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 20%;
  }
  button {
    background-color: transparent;
    border: 0px solid black;
    height: 16px;
    width: 100%;
    padding: 0% 5% 0% 5%;
  }
  li {
    color: gold;
    margin: 5% 0% 5% 0%;
    padding: 0% 10% 0% 0%;
  }
  button:hover {
    color: #E33405;
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  .linia {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5%;
  }
  #img {
    width: 25px;
    height: 25px;
  }
  #puntuacio {
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* Hide default HTML checkbox */
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f11313;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2abe1d;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(10px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /*
  @media only screen and (max-width:788px) {
      #titol {
        font-size:1em; 
      }
    }*/
}

@keyframes rot {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes neon {
  50% {
    text-shadow: #25deff 0px 0px 20px;
  }
}

/* SMARTPHONE AND TABS */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: 'Alike', serif;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8vh;
    width: 100vw;
    background-color: #696755;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
  }
  header #titol {
    min-width: 150px;
    padding-left: 60px;
  }
  #body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 91.5vh;
    width: 100vw;
    background: linear-gradient(45deg, #D1340F, #e24429, #fca326);
    border: 1px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: #696755;
    border: 1px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
  }
  #titol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vw;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  #nextNota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: black solid 2px;
    background: linear-gradient(45deg, white, white);
    width: 50%;
    height: 16%;
    margin-left: 85px;
  }
  #nextNota p:first-child {
    font-size: 1em;
    color: black;
  }
  #nextNota p:last-child {
    font-size: 1em;
    color: #868686;
    font-weight: bold;
  }
  .imatgeJugador {
    padding-left: 20px;
    -webkit-animation: rot 2s ease-in-out infinite;
            animation: rot 2s ease-in-out infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nomjugador #playerName {
    padding-left: 5%;
  }
  h1 {
    text-shadow: #25deff 0px 0px 60px;
    -webkit-animation: neon 2s ease-in-out infinite;
            animation: neon 2s ease-in-out infinite;
  }
  #autoplayValue {
    color: #ff2f2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50px;
    border: 1px solid black;
    background-color: gray;
    padding: 5%;
    margin-top: 5%;
    cursor: pointer;
    width: 50px;
    height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nomjugador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .autoplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    margin-top: 1.5%;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3%;
    background-color: #696755;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 2vw;
    -ms-flex-direction: row;
        flex-direction: row;
    border: 1px solid black;
    border-top: black solid 2px;
  }
  button {
    font-size: 1.4vw;
    display: inline;
  }
  #espai {
    background-color: red;
    height: 10%;
  }
  #cancons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .autoplay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 85%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #rectangle {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-left: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #99260a;
    opacity: 0.9;
  }
  #rectangle div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5vw;
    position: relative;
    width: 10%;
    height: 0;
    padding: 5% 0;
    margin: 1em auto;
    border-radius: 50%;
  }
  #flute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120%;
    height: 22%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #do {
    background-color: #0a9c00;
  }
  #re {
    background-color: #dbc900;
  }
  #mi {
    background-color: #2529FF;
  }
  #fa {
    background-color: #B50000;
  }
  #sol {
    background-color: #FF3C00;
  }
  #la {
    background-color: #004228;
  }
  #si {
    background-color: #FF3696;
  }
  #contenidor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #idle {
    width: 15%;
    height: 15%;
  }
  #trapezoid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 100px solid black;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    height: 8,1vh;
    width: 0;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 75px;
  }
  button {
    background-color: transparent;
    border: 0px solid black;
    height: 16px;
    width: 100%;
    padding: 0% 5% 0% 5%;
  }
  li {
    color: gold;
    margin: 5% 0% 5% 0%;
    padding: 0% 10% 0% 0%;
  }
  button:hover {
    color: #E33405;
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  .linia {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5%;
  }
  #img {
    width: 25px;
    height: 25px;
  }
  #puntuacio {
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* Hide default HTML checkbox */
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f11313;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2abe1d;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(10px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /*
  @media only screen and (max-width:788px) {
      #titol {
        font-size:1em; 
      }
    }*/
}

@keyframes rot {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes neon {
  50% {
    text-shadow: #25deff 0px 0px 20px;
  }
}

/* DESKTOP */
@media screen and (min-device-width: 1025px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: 'Alike', serif;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15vh;
    width: 100vw;
    background-color: #696755;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
  }
  header #titol {
    min-width: 250px;
  }
  #body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75vh;
    width: 100vw;
    background: linear-gradient(45deg, #D1340F, #e24429, #fca326);
    border: 1px solid black;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: #696755;
    border: 1px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #titol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.5vw;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  #nextNota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: black solid 2px;
    background: linear-gradient(45deg, white, white);
    width: 30%;
    height: 30%;
  }
  #nextNota p:first-child {
    font-size: 2em;
    color: black;
  }
  #nextNota p:last-child {
    font-size: 1.5em;
    color: #868686;
    font-weight: bold;
  }
  .imatgeJugador {
    padding-left: 20px;
    -webkit-animation: rot 2s ease-in-out infinite;
            animation: rot 2s ease-in-out infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nomjugador #playerName {
    padding-left: 5%;
  }
  h1 {
    text-shadow: #25deff 0px 0px 60px;
    -webkit-animation: neon 2s ease-in-out infinite;
            animation: neon 2s ease-in-out infinite;
  }
  #autoplayValue {
    color: #ff2f2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50px;
    border: 1px solid black;
    background-color: gray;
    padding: 5%;
    margin-top: 5%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nomjugador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .autoplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #contenidor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #idle {
    width: 15%;
    height: 15%;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 15%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #696755;
    border: black solid 2px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 2vw;
  }
  button {
    font-size: 1.5vw;
  }
  #espai {
    background-color: red;
    height: 10%;
  }
  #cancons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .autoplay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 85%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #rectangle {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-left: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #99260a;
    opacity: 0.9;
  }
  #rectangle div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5vw;
    position: relative;
    width: 10%;
    height: 0;
    padding: 5% 0;
    margin: 1em auto;
    border-radius: 50%;
  }
  #flute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #do {
    background-color: #0a9c00;
  }
  #re {
    background-color: #dbc900;
  }
  #mi {
    background-color: #2529FF;
  }
  #fa {
    background-color: #B50000;
  }
  #sol {
    background-color: #FF3C00;
  }
  #la {
    background-color: #004228;
  }
  #si {
    background-color: #FF3696;
  }
  #trapezoid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 100px solid black;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    height: 12,1vh;
    width: 0;
  }
  ul {
    list-style: none;
  }
  button {
    background-color: transparent;
    border: 0px solid black;
    height: 20px;
    width: 100%;
    padding: 0% 0% 0% 0%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  li {
    color: gold;
    margin: 5% 0% 5% 0%;
  }
  button:hover {
    color: #E33405;
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  .linia {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5%;
  }
  #img {
    width: 50px;
    height: 50px;
  }
  #titolPuntuacio {
    font-size: 2em;
  }
  #puntuacioValor {
    font-size: 2em;
  }
  #puntuacio {
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* Hide default HTML checkbox */
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f11313;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2abe1d;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    /*
  @media only screen and (max-width:788px) {
      #titol {
        font-size:1em; 
      }
    }*/
  }
  .slider.round:before {
    border-radius: 50%;
  }
}
/*# sourceMappingURL=main.css.map */