@mixin colors ($bg-color){
    background-color: $bg-color;
}

@mixin cancons($pad){
    padding: $pad;
}

@mixin animacioAvatar($temps){
    animation: rot $temps ease-in-out infinite;
    transform-origin: 50% 50%;
    transform: scale(1);
}

@mixin animacioNeon($colorText, $temps){
    text-shadow: $colorText 0px 0px 60px;
    animation: neon $temps ease-in-out infinite;
}
  
@keyframes rot {
    50% {transform: scale(1.25);}
  }

@keyframes neon {
    50%{text-shadow: $colorText 0px 0px 20px;}
}