@charset "UTF-8";

@import "variables";
@import "mixins";

@media screen and (max-device-width : 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Alike', serif;
  }
  
  header {
    display: $display;
    height: 8vh;
    width: 100vw;
    background-color: #696755;
    align-items: center;
    border: $border;
    #titol {
      padding-right: 20px;
    }
  }
  
  #body {
    display: $display;
    height: 91.5vh;
    width: 100vw;
    background: linear-gradient(45deg, #D1340F, #e24429, #fca326);
    border: $border;
    flex-direction: column;


  }
  
  footer {
    display: $display;
    height: 10vh;
    width: 100vw;
    background-color: #696755;
    border: $border;
    justify-content: $justify-content;
    align-items: center;
    visibility: hidden;
  }

  #contenidor{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #idle {
    width: $midaIcona;
    height: $midaIcona;
  }
  
  #titol {
    display: $display;
    font-size: 2vw;
    flex-grow: 3;
  }
  
  #nextNota {
    display: $display;
    justify-content: $justify-content;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: black solid 2px;
    background: linear-gradient(45deg, white, white);
    width: 50%;
    height: 16%;
    margin-left: 85px;
    p {
      &:first-child {
        font-size: 1em;
        color: black;
      }
      &:last-child {
        font-size: 1em;
        color: rgb(134, 134, 134);
        font-weight: bold;
      }
    }
  }
  
  .imatgeJugador {
    padding-left: 10px;
    padding-right:5%;
    @include animacioAvatar($temps);
  }
  
  
  .nomjugador #playerName {
    padding-left: 5%;
    padding-right: 10%;
  }

  h1{
    @include animacioNeon($colorText, $temps);
  }
  
  #autoplayValue {
    color: #ff2f2f;
    display: $display;
    border-radius: 50px;
    border: $border;
    background-color: gray;
    padding: 5%;
    margin-top: 5%;
    cursor: pointer;
    width: 50px;
    height: 70px;
    justify-content: $justify-content;
    align-items: center;
  }
  
  .nomjugador {
    display: $display;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
  }
  
  .autoplay {
    display: $display;
    justify-content: $justify-content;
    align-items: center;
    flex-grow: 4;
  }
  
  aside {
    display: $display;
    flex-direction: column;
    height: 10%;
    width: $width;
    flex-grow: 1;
    justify-content: $justify-content;
    background-color: #696755;
    //border: black solid 2px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 2vw;
    flex-direction: row;
    border: $border;
    border-top: black solid 2px;
  }
  
  button {
    font-size: 3vw;
    display: inline;
  }
  
  #espai {
    background-color: red;
    height: 10%;
  }
  
  #cancons {
    display: $display;
    flex-grow: 1;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: center;
  }
  
  aside .autoplay {
    flex-direction: column;
  }
  
  article {
    display: $display;
    height: 100%;
    width: 85%;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    justify-content: $justify-content;
    justify-content: space-evenly;
    order: -1;
  }
  
  #rectangle {
    div {
      display: $display;
      cursor: pointer;
      justify-content: $justify-content;
      align-items: center;
      font-size: 2.5vw;
      position: relative;
      width: 10%;
      height: 0;
      padding: 5% 0;
      margin: 1em auto;
      border-radius: 50%;
    }
    width: 55%;
    display: $display;
    border: $border;
    border-left: none;
    align-items: center;
    justify-content: space-around;
    background-color: #99260a;
    opacity: 0.9;
  }
  
  #flute {
    display: $display;
    width: 120%;
    height: 22%;
    justify-content: $justify-content;
    align-self: center;
  }
  
  #do {
    @include colors($bg-colordo);
  }
  
  #re {
    @include colors($bg-colorre);
  }
  
  #mi {
    @include colors($bg-colormi);
  }
  
  #fa {
    @include colors($bg-colorfa);
  }
  
  #sol {
    @include colors($bg-colorsol);
  }
  
  #la {
    @include colors($bg-colorla);
  }
  
  #si {
    @include colors($bg-colorsi);
  }
  
  #trapezoid {
    display: $display;
    border-right: 100px solid black;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    height: 8,1vh;
    width: 0;
  }
  
  ul {
    display: $display;
    list-style: none;
    flex-direction:row;
    padding-bottom: 20%;
  }
  
  button {
    background-color: transparent;
    border: 0px solid black;
    height: 16px;
    width: $width;
    @include cancons($pad);
  }
  
  li {
    color: gold;
    margin: 5% 0% 5% 0%;
    padding: 0% 10% 0% 0%;
    
  }
  
  button:hover {
    color: #E33405;
    width: 100%;
    transition: 1s;
    font-weight: bold;
    letter-spacing: 1px;
    transform: scale(1.25);
  }
  
  .linia {
    border: $border;
    width: $width;
    margin-bottom: 5%;
  }
  
  #img {
    width: 25px;
    height: 25px;
  }
  
  #puntuacio {
    padding-right: 2%;
    display: $display;
    flex-grow: 1;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
  }
  
  /* The switch - the box around the slider */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  /* Hide default HTML checkbox */
  
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f11313;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      left: 1px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  
  input:checked + .slider {
    background-color: #2abe1d;
    &:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(10px);
    }
  }
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
  
  /*
  @media only screen and (max-width:788px) {
      #titol {
        font-size:1em; 
      }
    }*/
    
}