$display: flex;
$border: 1px solid black;
$justify-content: center;
$width: 100%;
$bg-colordo: #0a9c00; 
$bg-colorre: #dbc900; 
$bg-colormi: #2529FF;
$bg-colorfa: #B50000; 
$bg-colorsol: #FF3C00; 
$bg-colorla: #004228; 
$bg-colorsi: #FF3696;  
$pad: 0% 5% 0% 5%;
$colorText: #25deff;
$temps: 2s;
$midaIcona: 15%;